<app-header title="Produk" [showMenuButton]="true">
  <ion-toolbar>
    <!-- Two-way binding dengan ngModel, filter langsung tiap ketikan, tanpa tombol submit -->
    <ion-searchbar
      [(ngModel)]="keyword"
      (ngModelChange)="filterProduk()"
      placeholder="Cari nama barang..."
      debounce="0">
    </ion-searchbar>
  </ion-toolbar>
</app-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="daftarProduk.length > 0">
    <ion-row>
      <ion-col size="6" *ngFor="let produk of daftarProduk">
        <app-product-card
          [produk]="produk"
          (tap)="bukaDetail($event)"
          (tambahKeranjang)="tambahKeKeranjang($event)">
        </app-product-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-empty-state
    *ngIf="daftarProduk.length === 0"
    icon="search-outline"
    pesan="Barang tidak ditemukan.">
  </app-empty-state>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="bukaTambahProduk()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
