<ion-card class="product-card">
  <div (click)="onTap()">

    <img
      *ngIf="produk.gambar && !gambarGagal; else noImage"
      [src]="produk.gambar"
      [alt]="produk.nama"
      (error)="onGambarError()" />
    <ng-template #noImage>
      <div class="no-image">
        <ion-icon name="image-outline"></ion-icon>
      </div>
    </ng-template>

    <ion-card-header>
      <ion-card-title>{{ produk.nama }}</ion-card-title>
      <ion-card-subtitle>{{ produk.kategori }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="harga">Rp {{ produk.hargaJual | number }}</div>
      <div class="stok" [class.habis]="produk.stok === 0">
        Stok: {{ produk.stok === 0 ? 'Habis' : produk.stok }}
      </div>
    </ion-card-content>
  </div>

  <ion-button
    expand="block"
    fill="clear"
    size="small"
    class="tombol-keranjang"
    [disabled]="produk.stok === 0"
    (click)="onTambahKeranjang($event)">
    <ion-icon slot="start" name="cart-outline"></ion-icon>

  </ion-button>
</ion-card>