<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="produk" href="/tabs/produk">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Produk</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transaksi" href="/tabs/transaksi">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Transaksi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil" href="/tabs/profil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
